@theme {
  --color-primary-50: #d0e6d8;
  --color-primary-100: #d0e6d8;
  --color-primary-200: #a1ccb1;
  --color-primary-300: #73b38b;
  --color-primary-400: #449964;
  --color-primary-500: #15803d;
  --color-primary-600: #116631;
  --color-primary-700: #0d4d25;
  --color-primary-800: #083318;
  --color-primary-900: #041a0c;
  --color-primary-950: #041a0c;
}
