<div class="relative">
  <swiper-container
    [slides-per-view]="1"
    [pagination]="{
      clickable: true,
    }"
    [navigation]="true"
    class="h-100 relative"
  >
    <swiper-slide>
      <div class="relative text-white">
        <img src="/images/banner-4.jpeg" class="h-full" alt="" />
        <div class="absolute inset-0 bg-primary-400/70">
          <div class="container mx-auto h-full flex justify-center flex-col gap-4">
            <h2 class="font-bold text-4xl">Fast & Free Delivery</h2>
            <p class="text-2xl">Same Day Delivery Available</p>
            <div class="flex gap-4">
              <button class="btn-main bg-white text-black px-4 py-2 rounded-2xl">Order Now</button>
              <button class="border px-4 py-2 rounded-2xl border-primary-500">Delivery Info</button>
            </div>
          </div>
        </div>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="relative text-white">
        <img src="/images/banner-4.jpeg" class="h-full" alt="" />
        <div class="absolute inset-0 bg-primary-400/70">
          <div class="container mx-auto h-full flex justify-center flex-col gap-4">
            <h2 class="font-bold text-4xl">Fast & Free Delivery</h2>
            <p class="text-2xl">Same Day Delivery Available</p>
            <div class="flex gap-4">
              <button class="btn-main bg-white text-black px-4 py-2 rounded-2xl">Order Now</button>
              <button class="border px-4 py-2 rounded-2xl border-primary-500">Delivery Info</button>
            </div>
          </div>
        </div>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="relative text-white">
        <img src="/images/banner-4.jpeg" class="h-full" alt="" />
        <div class="absolute inset-0 bg-primary-400/70">
          <div class="container mx-auto h-full flex justify-center flex-col gap-4">
            <h2 class="font-bold text-4xl">Fast & Free Delivery</h2>
            <p class="text-2xl">Same Day Delivery Available</p>
            <div class="flex gap-4">
              <button class="btn-main bg-white text-black px-4 py-2 rounded-2xl">Order Now</button>
              <button class="border px-4 py-2 rounded-2xl border-primary-500">Delivery Info</button>
            </div>
          </div>
        </div>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="relative text-white">
        <img src="/images/banner-4.jpeg" class="h-full" alt="" />
        <div class="absolute inset-0 bg-primary-400/70">
          <div class="container mx-auto h-full flex justify-center flex-col gap-4">
            <h2 class="font-bold text-4xl">Fast & Free Delivery</h2>
            <p class="text-2xl">Same Day Delivery Available</p>
            <div class="flex gap-4">
              <button class="btn-main bg-white text-black px-4 py-2 rounded-2xl">Order Now</button>
              <button class="border px-4 py-2 rounded-2xl border-primary-500">Delivery Info</button>
            </div>
          </div>
        </div>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="relative text-white">
        <img src="/images/banner-4.jpeg" class="h-full" alt="" />
        <div class="absolute inset-0 bg-primary-400/70">
          <div class="container mx-auto h-full flex justify-center flex-col gap-4">
            <h2 class="font-bold text-4xl">Fast & Free Delivery</h2>
            <p class="text-2xl">Same Day Delivery Available</p>
            <div class="flex gap-4">
              <button class="btn-main bg-white text-black px-4 py-2 rounded-2xl">Order Now</button>
              <button class="border px-4 py-2 rounded-2xl border-primary-500">Delivery Info</button>
            </div>
          </div>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>
</div>
